﻿@model CompanyInformationTracker.Models.MemberDemography

@{
    ViewBag.Title = "Delete member demography";
}

<h2>Delete!</h2>

<h4>Are you sure you want to delete this?</h4>
@using (Html.BeginForm("DeleteDemography", "Settings", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.Id)
    <div class="form-group">
        <label>Demography Name: </label> @Model.DemographyName
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}