﻿
@{
    ViewBag.Title = "Demography List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tablecontainer">

    <div style="height:auto;">
        <h3 style="float:left;">All the member demography</h3>
        <a class="popup btn btn-primary company-add-btn" href="CreateDemography">Create New Type</a>
    </div>
    <hr style="clear:both;" />
    
    <div>
        <table id="demographyDatatable" style="width: 100%;">
            <thead>
                <tr>
                    <th>Demography Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <style type="text/css">
        #demographyDatatable {
            margin: 0;
            border: 0;
            width: 100%;
            text-align: left;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }
    </style>

    <script>
        $(document).ready(function () {
            var oTable = $('#demographyDatatable').DataTable({
                "ajax": {
                    "url": '/Settings/GetDemographies',
                    "type" : "get",
                    "datatype" : "json"
                },
                "paging": true,
                "ordering": false,
                "info": false,
                "searching": true,
                "columns": [
                    { "data": "DemographyName", "width": "auto" },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Settings/EditDemography/' + data + '">Edit</a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Settings/DeleteDemography/' + data + '">Delete</a>';
                        }
                    }
                ]
            })

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow box-shadow-popup shadow-popup" style="overflow:hidden;font-size:large;font-family:\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              closeOnEscape: true,
                              //title: 'Popup Dialog',
                              height: 270,
                              width: 450,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })
                

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })
    </script>
</div>

