﻿@model CompanyInformationTracker.Models.Attachment

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=".popupForm">
    @using (Html.BeginForm("UploadFile", "Members", new { memberId = ViewBag.MemberId }, FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            <h4>Attachment</h4>
            <hr />

            <div class="form-group">
                @Html.Label("Upload", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="file" class="makethispretty form-control" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>