﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Company Information Tracker</title>
   
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link rel="stylesheet" href="~/Content/custom/company.css" />
    <link rel="stylesheet" href="~/Content/custom/navbar.css" />
    <!--<link rel="stylesheet" href="~/Content/custom/sidebar.css" />-->
    <link rel="stylesheet" href="~/Content/custom/settings.css" />
    <link rel="stylesheet" href="~/Content/custom/contact.css" />
    <link rel="stylesheet" href="~/Content/custom/survey.css" />

    <!--<script src="~/Scripts/jquery-3.1.1.min.js"></script>-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker-build.less" />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />

    <script src="~/Scripts/spin.min.js"></script>
    <link rel="stylesheet" href="~/Content/custom/myloader.css" />


    <!--https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top mynavbar">
        <div>
            <div class="navbar-header dropshadow">
                <a href="/Home/Index"> <img src="~/Images/Icons/header_logo.png" style="margin-left:40px;" /></a>
   
                <span class="dropshadow" style="margin-left:20px; margin-top:5px; font-family:'Monotype Corsiva'; font-size:xx-large; color: white;">Innovation Lab</span>
       
             </div>

            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav nav-pills dropshadow">
                    <li>
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </a>
                    </li>

                    <!--<li><a href="Home/About"><span class="glyphicon glyphicon-home"> Home</span></a></li>-->


                    <li>
                        <a href="/Home/Contact">
                            <span class="glyphicon glyphicon-envelope"></span> Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="wrapper" style="width:70%; margin:30px auto; padding:5px 20px 20px 20px; box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);">
        <!-- Page Content -->
        <div id="container body-content page-content-wrapper" style="font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">

            @RenderBody()
            
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <div>
        <footer>
            <p style="text-align:center;">&copy; @DateTime.Now.Year - East Tennessee State University's Innovation Lab</p>
        </footer>
    </div>

    @RenderSection("JavaScriptIncludes", required: false)
</body>
</html>
