﻿@using Microsoft.AspNet.Identity.EntityFramework
@using CompanyInformationTracker.Models
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var user = manager.FindById(User.Identity.GetUserId());

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right click-nav" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right dropshadow">
        <li><a href="@Url.Action("Index", "Manage")"> <span class="glyphicon glyphicon-user"></span> Hi, @user.LastName</a></li>
            
        <li><a href="javascript:document.getElementById('logoutForm').submit()"> <span class="glyphicon glyphicon-log-out"></span> Log off</a></li>
        <li id="settings_menu" class="no-js">
            <a href="#menus" class="clicker"> <span class="glyphicon glyphicon-menu-hamburger" style="font-size:larger;top:3px;"></span></a>

            <ul  style="padding-left:0px;">
                
                <li>
                    <a href="@Url.Action("Register", "Account")" id="registerLink">
                        <span class="glyphicon glyphicon-registration-mark" style="font-size:medium;top:3px; margin-right:5px;"></span>
                        Register User
                    </a>
                </li>
                

                <li>
                    <a href="#">
                        <div class="myexpandable">
                            <span class="glyphicon glyphicon-cog"></span>
                            Manage
                        </div>
                    </a>
                </li>
                
                <li style="padding-left:40px;"><a href="@Url.Action("Index", "Members")"><span class="glyphicon glyphicon-minus menu_glymp"></span>Members</a></li>
                <li style="padding-left:40px;"><a href="@Url.Action("Index", "Events")"><span class="glyphicon glyphicon-minus menu_glymp"></span>Events</a></li>
                <li style="padding-left:40px;"><a href="@Url.Action("MemberType", "Settings")"><span class="glyphicon glyphicon-minus menu_glymp"></span>Internal Member Types</a></li>
                <li style="padding-left:40px;"><a href="@Url.Action("LegalType", "Settings")"><span class="glyphicon glyphicon-minus menu_glymp"></span>Legal Entity Types</a></li>
                <li style="padding-left:40px;"><a href="@Url.Action("Demography", "Settings")"><span class="glyphicon glyphicon-minus menu_glymp"></span>Member Demography</a></li>
                <li style="padding-left:40px;"><a href="@Url.Action("Referrer", "Settings")"><span class="glyphicon glyphicon-minus menu_glymp"></span>Referrer</a></li>
                <li style="padding-left:40px;"><a href="@Url.Action("Status", "Settings")"><span class="glyphicon glyphicon-minus menu_glymp"></span>Member Status</a></li>
                <li class="nav-divider"></li>
                
                <li>
                    <a href="@Url.Action("Create", "Members")">
                        <span class="glyphicon glyphicon-plus" style="font-size:medium;top:3px; margin-right:5px;"></span>
                        Add Member
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "SurveyData")">
                        <i class="fa fa-database" aria-hidden="true" style="font-size:medium;top:3px; margin-right:5px;"></i>
                        Yearly Survey Data
                    </a>
                </li>
                <li class="nav-divider"></li>
                <li>
                    <a href="@Url.Action("Index", "Report")">
                        <i class="fa fa-tasks" aria-hidden="true" style="font-size:medium;top:3px; margin-right:5px;"></i>
                        Generate Report
                    </a>
                </li>

                <li class="nav-divider"></li>

            </ul>
        </li>
    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right dropshadow">
        <li>
            <a href="/Account/Login" id="loginLink">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </a>
        </li>
    </ul>
}

<script>
    $(function () {
        $('#settings_menu').toggleClass('no-js js');
        $('.click-nav .js li').hide();
        $('.clicker').click(function (e) {
            $('.click-nav .js li').slideToggle(200);
            //$('.clicker').toggleClass('active');
            e.stopPropagation();
            
        });

        $('#settings_menu li').click(function (event) {
            console.log($(event.target));
            console.log($(event.target).hasClass('myexpandable'))
            if ($(event.target).hasClass('myexpandable') == false && $('#settings_menu').is(":visible")) {
                $('#settings_menu li').slideUp();
            }
        });

        $(document).click(function (event) {
            if (!$(event.target).closest('#settings_menu').length) {
                if ($('#settings_menu').is(":visible")) {
                    $('#settings_menu li').slideUp();
                }
            }
            /*if ($('.click-nav .js li').is(':visible')  && $(this).hasClass("js") == false) {
                $('.click-nav .js li', this).slideUp();
                //$('.clicker').removeClass('active');
            }*/
        });
    });

    
</script>