﻿@model CompanyInformationTracker.Models.LegalEntityType

@{
    ViewBag.Title = "LegalType";
}

@using (Html.BeginForm("CreateLegalType", "Settings", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add New Legal Entity Type</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "font-size: medium;" })
        <div class="form-group">
            @Html.LabelFor(model => model.TypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
