﻿@model CompanyInformationTracker.Models.LegalEntityType

@{
    ViewBag.Title = "Delete legal type";
}

<h2>Delete!</h2>

<h4>Are you sure you want to delete this?</h4>
@using (Html.BeginForm("DeleteLegalType", "Settings", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.Id)
    <div class="form-group">
        <label>Type Name: </label> @Model.TypeName
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}