﻿@model CompanyInformationTracker.Models.Event

@{
    Layout = null;
}

<h4>Are you sure you want to delete this event?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfAttendee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfAttendee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EventCreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStatus)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Events", FormMethod.Post, new { id = "popupForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>