﻿@model CompanyInformationTracker.Models.Event

@{
    Layout = null;
}


<div>
    <h3>Details of the event</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfAttendee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfAttendee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventCreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCreator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventStatus)
        </dd>
    </dl>
</div>


<input id="MyEventId" value="@Model.Id" hidden="hidden" />

<div class="attendeetablecontainer">
    <h4>All attendees</h4>
    <div class="survey-border-other">
        <div class="gdebox">
            <table id="attendeeDatatable" style="width:100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <hr style="margin:0; border:0; margin-bottom:10px;" />
            <a class="popup1 btn btn-default" href='@Url.Action("NewAttendee", "Events", new { eventId = Model.Id })'>Add Attendee</a>
        </div>
    </div>

    <style type="text/css">
        #attendeeDatatable {
            margin: 0;
            border: 0;
            width: 100%;
            text-align: left;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }
    </style>

    <script>
        $(document).ready(function () {
            var attendeeTable = $('#attendeeDatatable').DataTable({
                "ajax": {
                    "url": '/Events/GetAttendees',
                    "type": "get",
                    "data": {
                        eventId: $('#MyEventId').val() //Event Id
                    },
                    "datatype" : "json"
                },
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "columns": [
                    { "data": "Name", "width": "40%" },
                    { "data": "Email", "width": "40%" },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup1" href="/Events/EditAttendee/' + data + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup1" href="/Events/DeleteAttendee/' + data + '"><i class="fa fa-times" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            })

            $('.attendeetablecontainer').on('click', 'a.popup1', function (e) {
                e.preventDefault();
                OpenPopup1($(this).attr('href'));
            })
            function OpenPopup1(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm1', $pageContent).removeData('validator');
                    $('#popupForm1', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog1 = $('<div class="attendeepopupWindow box-shadow-popup shadow-popup" style="overflow-y: true; overflow-x: hidden; font-size:small;font-family:\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              closeOnEscape: true,
                              //title: 'Popup Dialog',
                              //height: 250,
                              //width: 350,
                              close: function () {
                                  $dialog1.dialog('destroy').remove();
                              }
                          })


                $('.attendeepopupWindow').on('submit', '#popupForm1', function (e) {
                    var url = $('#popupForm1')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm1').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog1.dialog('close');
                                attendeeTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog1.dialog('open');
                $dialog1.bind('clickoutside', function () {
                    $dialog1.dialog('close');
                });
            }
        })
    </script>
</div>