﻿
@{
    ViewBag.Title = "Event list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="eventstablecontainer">
    <div style="height:auto;">
        <h3 style="float:left;">Upcoming events</h3>
        <a class="popup btn btn-primary company-add-btn" href="/Events/Create">Create New Event</a>
        
    </div>
    <hr style="clear:both;" />
    

    <div>
        
        <table id="eventDatatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Date & Time</th>
                    <th>Attendee#</th>
                    <th>Duration</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <style type="text/css">
        #eventDatatable {
            margin: 0;
            border: 0;
            width: 100%;
            font-size:14px;
            text-align: left;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }
    </style>

    <script>
        $(document).ready(function () {
            var oTable = $('#eventDatatable').DataTable({
                "ajax": {
                    "url": '/Events/GetAllEvents',
                    "type" : "get",
                    "datatype" : "json"
                },
                "paging": true,
                "ordering": false,
                "info": false,
                "searching": true,
                "columns": [
                    { "data": "EventTitle", "width": "20%" },
                    { "data": "EventType", "width": "auto" },
                    { "data": "Location", "width": "auto" },
                    {
                        "data": "EventDate", "width": "auto", "sType": 'date', "render": function (data) {
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(data);
                            var date = new Date(parseFloat(results[1]));
                            
                            var monthNames = [
                                "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
                            ];

                            var day = date.getDate();
                            var monthIndex = date.getMonth();
                            var year = date.getFullYear();

                            //return day + '-' + monthNames[monthIndex] + '-' + year;
                            return date.toLocaleString("en-US").replace(/(.*)\D\d+/, '$1');;
                        }
                    },
                    { "data": "NumOfAttendee", "width": "auto" },
                    {
                        "data": "EventDuration", "width": "auto", "render": function (data) {
                            return data + " Minutes";
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Events/Details/' + data + '"><i class="fa fa-list" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Events/Edit/' + data + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Events/Delete/' + data + '"><i class="fa fa-times" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            })

            $('.eventstablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();

                $("#loading-popup").fadeIn();
                var opts = {
                    lines: 12, // The number of lines to draw
                    length: 7, // The length of each line
                    width: 4, // The line thickness
                    radius: 10, // The radius of the inner circle
                    color: '#000', // #rgb or #rrggbb
                    speed: 1, // Rounds per second
                    trail: 60, // Afterglow percentage
                    shadow: false, // Whether to render a shadow
                    hwaccel: false // Whether to use hardware acceleration
                };
                var target = document.getElementById('loading-popup');
                var spinner = new Spinner(opts).spin(target);



                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                    $("#loading-popup").fadeOut();
                });

                $dialog = $('<div class="popupWindow box-shadow-popup shadow-popup" style="overflow-y: scroll; overflow-x: hidden; font-size:12px;font-family:\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              closeOnEscape: true,
                              //title: 'Popup Dialog',
                              height: 550,
                              width: 500,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })


                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })
    </script>
</div>

<div id="loading-popup">
    <div id="loadingcontent-popup">
        <p id="loadingspinner-popup">
            Loading content...
        </p>
    </div>
</div>

