﻿@model CompanyInformationTracker.Models.Member

@{
    ViewBag.Title = "Delete Member";
}

<h2>Delete!</h2>

<h4>Are you sure you want to delete this company?</h4>
@using (Html.BeginForm("Delete", "Members", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.Id)
    <div class="form-group">
        <label>Member Name: </label> @Model.MemberName
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}