﻿@model CompanyInformationTracker.Models.MemberView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="width:inherit">
    <input id="MyMemberId" value="@Model.MEMBER_ID" hidden="hidden" />

    <div class="col-sm-4">
        <img id="img_logo" height="200" width="200" alt="Logo" src="@Url.Content("~/Images/companylogos/company-logo.png")" style="margin-top:25px; margin-bottom:10px; border: 1px solid gray;" />
        <p><strong> Industry Classification:</strong> <br />@Model.NAICS_CODE</p>
        <p><strong> Status:</strong> @Model.STATUS_NAME <br /> Updated on @Model.STATUS_DATE.ToShortDateString()</p>
        <p><strong> Legal Entity:</strong> <br />@Model.NAME</p>
        <p><strong> Type of Member:</strong> <br />@Model.TYPE_NAME</p>
        <p><strong> Member Demography:</strong> <br />@Model.DEMOGRAPHY_NAME</p>
        <p><strong> Heard About Us By:</strong> <br />@Model.SOURCE_NAME</p>
    </div>

    <div class="col-sm-8" style="padding-top:25px;">
        <div style="width:100%;">
            <div style="float:right; width:33%"><a href="@Url.Action("Edit", "Members", new { id = Model.MEMBER_ID })" class="btn btn-primary">Edit Member Information</a></div>
            <div style="float:right; width:33%"><a href="@Url.Action("SurveyList", "SurveyData", new { memberId = Model.MEMBER_ID })" class="btn btn-primary">View Surevey Data</a></div>
            <div style="float:right; width:33%"><a href="@Url.Action("Index", "Members")" class="btn btn-primary">Back to Member List</a></div>
        </div>
        <br />
        <hr />
        
        <h2>@Html.DisplayFor(model => model.MEMBER_NAME)</h2>
        <p>@Model.STREET_NO, @Model.ADDITIONAL, @Model.CITY, @Model.STATE @Model.POSTAL_CODE</p>
        <p><strong> Date Incorporated:</strong> @Model.DATE_INCORP.ToLongDateString()</p>
        <p><strong> Date Entered in Incubator:</strong> @Model.DATE_ENTERED.ToLongDateString()</p>
        
        @if (!String.IsNullOrEmpty(Model.WEBSITE))
        {
            <p><strong> Website:</strong> <br /><a href="@Model.WEBSITE">@Model.WEBSITE</a></p>
        }
        @if (!String.IsNullOrEmpty(Model.DESCRIPTION))
        {
            <p><strong> Description:</strong> <br />@Model.DESCRIPTION</p>
        }
        <hr />
        
        <div class="statusHistorytablecontainer">
            <h4>Status History</h4>
            <div class="survey-border-other">
                <div class="gdebox">
                    <table id="statusHistoryDatatable" style="width:100%;">
                        <thead>
                            <tr>
                                <th>StatusName</th>
                                <th>StatusDate</th>
                            </tr>
                        </thead>
                    </table>
                    <hr style="margin:0; border:0; margin-bottom:10px;" />
                    
                </div>
            </div>

            <style type="text/css">
                #statusHistoryDatatable {
                    margin: 0;
                    border: 0;
                    width: 100%;
                    text-align: left;
                    font-size: small;
                }

                table.dataTable thead th, table.dataTable thead td {
                    padding: 5px 10px;
                    border-bottom: 1px solid #C0C0C0;
                }

                table.dataTable tbody th, table.dataTable tbody td {
                    padding: 5px 10px;
                    border-bottom: 1px solid #C0C0C0;
                }
            </style>

            <script>
        $(document).ready(function () {
            var employeeTable = $('#statusHistoryDatatable').DataTable({
                "ajax": {
                    "url": '/Members/GetStatusHistory',
                    "type": "get",
                    "data": {
                        memberId: $('#MyMemberId').val() //Member Id
                    },
                    "datatype" : "json"
                },
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "columns": [
                    { "data": "STATUS_NAME", "width": "auto" },
                    { "data": "STATUS_DATE", "width": "auto" },
                ]
            })

            $('.statusHistorytablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow box-shadow-popup shadow-popup" style="overflow-y: true; overflow-x: hidden; font-size:small;font-family:\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              closeOnEscape: true,
                              //title: 'Popup Dialog',
                              height: 420,
                              width: 450,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })


                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                employeeTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })
            </script>
        </div>
    </div>
</div>

<div class="row" style="padding:15px; margin-top:0px;">

    <div class="employeetablecontainer">
        <h4>All employees</h4>
        <input id="MyMemberId" value="@ViewBag.MemberId" hidden="hidden" />
        <div class="survey-border-other">
            <div class="gdebox">
                <table id="employeeDatatable" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Primary</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                <hr style="margin:0; border:0; margin-bottom:10px;" />
                <a class="popup btn btn-default" href='@Url.Action("NewEmployee", "Members", new { memberId = Model.MEMBER_ID })'>Add Employee</a>
            </div>
        </div>

        <style type="text/css">
            #employeeDatatable {
                margin: 0;
                border: 0;
                width: 100%;
                text-align: left;
                font-size: medium;
            }

            table.dataTable thead th, table.dataTable thead td {
                padding: 5px 10px;
                border-bottom: 1px solid #C0C0C0;
            }

            table.dataTable tbody th, table.dataTable tbody td {
                padding: 5px 10px;
                border-bottom: 1px solid #C0C0C0;
            }
        </style>

        <script>
        $(document).ready(function () {
            var employeeTable = $('#employeeDatatable').DataTable({
                "ajax": {
                    "url": '/Members/GetEmployees',
                    "type": "get",
                    "data": {
                        memberId: $('#MyMemberId').val() //Member Id
                    },
                    "datatype" : "json"
                },
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "columns": [
                    { "data": "Name", "width": "auto" },
                    { "data": "Phone", "width": "auto" },
                    { "data": "Email", "width": "auto" },
                    { "data": "IsPrimary", "width": "auto" },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Members/EditEmployee/' + data + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Members/DeleteEmployee/' + data + '"><i class="fa fa-times" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            })

            $('.employeetablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow box-shadow-popup shadow-popup" style="overflow-y: true; overflow-x: hidden; font-size:small;font-family:\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              closeOnEscape: true,
                              //title: 'Popup Dialog',
                              height: 420,
                              width: 450,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })


                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                employeeTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })
        </script>
    </div>

</div>

<div class="row" style="padding:15px; margin-top:0px;">

    <div class="attachmenttablecontainer">
        <h4>All attachments</h4>
        <input id="MyMemberId" value="@ViewBag.MemberId" hidden="hidden" />
        <div class="survey-border-other">
            <div class="gdebox">
                <table id="attachmentDatatable" style="width:100%;">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
                <hr style="margin:0; border:0; margin-bottom:10px;" />
                <a class="btn btn-default" href='@Url.Action("Upload", "Members", new { memberId = Model.MEMBER_ID })'>Upload New File</a>
            </div>
        </div>

        <style type="text/css">
            #attachmentDatatable {
                margin: 0;
                border: 0;
                width: 100%;
                text-align: left;
                font-size: medium;
            }

            table.dataTable thead th, table.dataTable thead td {
                padding: 5px 10px;
                border-bottom: 1px solid #C0C0C0;
            }

            table.dataTable tbody th, table.dataTable tbody td {
                padding: 5px 10px;
                border-bottom: 1px solid #C0C0C0;
            }
        </style>

        <script>
        $(document).ready(function () {
            var attachmentTable = $('#attachmentDatatable').DataTable({
                "ajax": {
                    "url": '/Members/GetAttachments',
                    "type": "get",
                    "data": {
                        memberId: $('#MyMemberId').val() //Member Id
                    },
                    "datatype" : "json"
                },
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false,
                "columns": [
                    { "data": "AttachmentName", "width": "auto" },
                    {
                        "data": "Path", "width": "auto", "render": function (data) {
                            return '<a  href="/Uploads/' + data + '"><i class="fa fa-download" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            })
        })
        </script>
    </div>

</div>

