﻿@model CompanyInformationTracker.Models.MemberViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="height:auto;">
    <h3 style="float:left;">Edit @Model.Member.MemberName</h3>
    <a class="btn btn-primary company-add-btn" href="@Url.Action("Index", "Members")">Back to Member List</a>
    <a style="margin-right:15px;" class="btn btn-primary company-add-btn" href="@Url.Action("Details", "Members", new { id = Model.Member.Id })">Back to Member Details</a>
</div>
<hr style="clear:both;" />

@using (Ajax.BeginForm("Edit", "Members", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "EditResult"

}))
{
    @Html.AntiForgeryToken()

    <div class="container" style="font-weight:normal; font-size:medium; width:inherit;">
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Member Details</legend>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Member.Id)
                    @Html.HiddenFor(model => model.Employee.Id)

                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Member.MemberName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Member.MemberName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company name" } })
                            @Html.ValidationMessageFor(model => model.Member.MemberName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Member.NaicsCode, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Member.NaicsCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Member.NaicsCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Member.DateIncorp, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                @Html.EditorFor(model => model.Member.DateIncorp, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy HH:MM AM/PM", style = "width:237px;" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Member.DateIncorp, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Member.DateEntered, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                @Html.EditorFor(model => model.Member.DateEntered, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy HH:MM AM/PM", style = "width:237px;" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Member.DateEntered, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    

                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Member.LegalEntityTypeList, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Member.LEGAL_ENTITY_ID, new SelectList(Model.Member.LegalEntityTypeList, "ID", "TypeName"), "-- Please select a legal entity type --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Member.LEGAL_ENTITY_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Member.InternalTypeList, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Member.TYPE_ID, new SelectList(Model.Member.InternalTypeList, "ID", "TypeName"), "-- Please select an member type --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Member.TYPE_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DemographyInfo.MemberDemographyList, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.DemographyInfo.DEMOGRAPHY_ID, new SelectList(Model.DemographyInfo.MemberDemographyList, "ID", "DemographyName"), "-- Please select a demography --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DemographyInfo.DEMOGRAPHY_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Member.ReferrerList, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Member.REFERRER_ID, new SelectList(Model.Member.ReferrerList, "ID", "SourceName"), "-- Please select a referrer --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Member.REFERRER_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Member Status</legend>

                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StatusHistory.MemberStatusList, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.StatusHistory.STATUS_ID, new SelectList(Model.StatusHistory.MemberStatusList, "ID", "StatusName"), "-- Please select member status --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StatusHistory.STATUS_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StatusHistory.StatusDate, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.StatusHistory.StatusDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy HH:MM AM/PM", style = "width:237px;" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.StatusHistory.StatusDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-sm-6">
                <fieldset>

                    <legend>Address Details</legend>

                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.Member.StreetNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Street address, P.O. box, etc", style = "max-width:inherit" } })
                            @Html.ValidationMessageFor(model => model.Member.StreetNo, "", new { @class = "text-danger", style = "max-width:inherit" })
                            <br />
                        </div>
                    </div>

 
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.Member.AdditionalLine, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apartment, suite , unit, building, floor, etc.", style = "max-width:inherit" } })
                            @Html.ValidationMessageFor(model => model.Member.AdditionalLine, "", new { @class = "text-danger", style = "max-width:inherit" })
                            <br />
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.Member.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter city", style = "max-width:inherit" } })
                            @Html.ValidationMessageFor(model => model.Member.City, "", new { @class = "text-danger", style = "max-width:inherit" })
                            <br />
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.Member.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter state", style = "max-width:inherit" } })
                            @Html.ValidationMessageFor(model => model.Member.State, "", new { @class = "text-danger", style = "max-width:inherit" })
                            <br />
                        </div>
                        <div class="col-sm-6" style="padding-left:0px;">
                            @Html.EditorFor(model => model.Member.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Postcode", @style = "padding:0px; padding-left:15px; margin:0px; max-width:inherit;" } })
                            @Html.ValidationMessageFor(model => model.Member.PostalCode, "", new { @class = "text-danger", @style = "padding:0px; margin:0px; max-width:inherit;" })
                            <br />
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.Member.Country, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter country", style = "max-width:inherit" } })
                            @Html.ValidationMessageFor(model => model.Member.Country, "", new { @class = "text-danger", style = "max-width:inherit" })
                            <br />
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Primary Contact Details</legend>
                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                @{
                                    var titles = new List<SelectListItem>()
                                    {
                                        new SelectListItem() { Text = "Mr", Value = "Mr" },
                                        new SelectListItem() { Text = "Mrs.", Value = "Mrs" },
                                        new SelectListItem() { Text = "Miss", Value = "Miss" },
                                        new SelectListItem() { Text = "Ms", Value = "Ms" },
                                        new SelectListItem() { Text = "Sir", Value = "Sir" },
                                        new SelectListItem() { Text = "Madam", Value = "Madam" },
                                        new SelectListItem() { Text = "Dr", Value = "Dr" },
                                    };
                                }

                                @Html.DropDownListFor(model => model.Employee.Title, new SelectList(titles, "Text", "Value"), "-- Please select title --", new { @class = "form-control", style = "max-width:inherit;" })
                                <br />
                                @Html.ValidationMessageFor(model => model.Employee.Title, "", new { @class = "text-danger" })
                                <br />
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </div>
                                @Html.EditorFor(model => model.Employee.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name", style = "max-width:inherit" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Employee.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </div>
                                @Html.EditorFor(model => model.Employee.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name", style = "max-width:inherit" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Employee.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                                @Html.EditorFor(model => model.Employee.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", style = "max-width:inherit" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Employee.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="form-group">
                        <div class="col-sm-6">
                            <div class="input-group">
                                @{
                                    var phoneTypeList = new List<SelectListItem>()
                                    {
                                        new SelectListItem() { Text = "Home", Value = "Home" },
                                        new SelectListItem() { Text = "Work", Value = "Work" },
                                        new SelectListItem() { Text = "Office", Value = "Office" },
                                        new SelectListItem() { Text = "Fax", Value = "Fax" },
                                        new SelectListItem() { Text = "Cell", Value = "Cell" },
                                        new SelectListItem() { Text = "Other", Value = "Other" },
                                    };
                                }

                                @Html.DropDownListFor(model => model.Employee.PhoneType, new SelectList(phoneTypeList, "Text", "Value"), "-- Phone type --", new { @class = "form-control", style = "max-width:inherit;"  })
                                <br />
                                @Html.ValidationMessageFor(model => model.Employee.PhoneType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                @Html.EditorFor(model => model.Employee.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", style = "max-width:inherit" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Employee.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>

                <br />
                <fieldset>

                    <legend>Optional Details</legend>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                @Html.EditorFor(model => model.Member.Website, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter website address [optional]", style = "max-width:inherit" } })
                                @Html.ValidationMessageFor(model => model.Member.Website, "", new { @class = "text-danger", style = "max-width:inherit" })
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-comment fa-2"></i>
                                </div>
                                @Html.TextAreaFor(model => model.Member.Description, htmlAttributes: new { @class = "form-control", @placeholder = "Describe the company", rows = "5", cols = "25", style = "max-width: inherit;" })
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class='form-row'>
            <div id="EditResult" style="color:red; margin-top:10px; text-align:justify">

            </div>
            <div class='form-group'>
                <label class='control-label'></label>
                <button class='form-control btn btn-primary' type='submit'> Save the Member Information</button>
            </div>
        </div>

    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('input[type=datetime]').datetimepicker();
        });
    });
</script>