﻿
@{
    ViewBag.Title = "Overall Company Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div><a class="btn btn-primary" style="float:right; margin-bottom:10px;" href="@Url.Action("Individual", "Report")">See Individual Member Aggregated Data</a></div>


<div>@{Html.RenderAction("Members", "Report");}</div>
<hr />
<div>@{Html.RenderAction("Graduates", "Report");}</div>
<hr />
<div>@{Html.RenderAction("Clients", "Report");}</div>
