﻿
@{
    ViewBag.Title = "View Individual Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:auto;">
    <h3 style="float:left;">Survey Data</h3>
    <a class="btn btn-primary company-add-btn" href="@Url.Action("Index", "Report")">Back to Aggregated Data</a>
</div>
<hr style="clear:both;" />
<div style="min-height:300px;">
    <p>Please type a member name to proceed. You will get autocomplete suggestions while typing. When you select a member name from the suggestions, you will get options to proceed!</p>
    @Html.Label("Type a Member Name"):
    @Html.TextBox("PassId")
    <br />
    <br />
    <div id="MemberDataLink" hidden="hidden"></div>

</div>
<script type="text/javascript">
    $("#PassId").autocomplete({
        source: function (request, response) {
            var customer = new Array();
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("Autocomplete", "Report"))",
                data: { "term": request.term },
                success: function (data) {
                    for (var i = 0; i < data.length ; i++) {
                        customer[i] = { label: data[i].Value, Id: data[i].Key };
                    }
                }
            });
            response(customer);
        },
         select: function (event, ui) {
             //fill selected customer details on form
             console.log(ui.item.Id);
             var link1 = '<a class="btn btn-default" style="width:100%" href="/Report/Load/' + ui.item.Id + '">Please click on the button to view ' + ui.item.label + '\'s yearly survey data</a>';

             var link2 = '<a class="btn btn-default" style="width:100%" href="/SurveyData/SurveyList?memberId=' + ui.item.Id + '">Please click on the button to view or edit ' + ui.item.label + '\'s survey data</a>';


             $('#MemberDataLink').html(link1 + '<br /><br />' + link2);
             $('#MemberDataLink').show();
        }
     });
</script>  