﻿@model IEnumerable<CompanyInformationTracker.Models.SurveyDBModelExtended>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h4>Aggregate Company Data (Clients and Graduates Combined) </h4>

<div id="content">
    <table id="report_table" class="table table-bordered" style="font-size:small; border:1px;">
        <tr>
            <th></th>
            @foreach (var item in Model)
            {
                <th><strong>@item.Header</strong></th>
            }

        </tr>
        <tr>
            <td>Survey date</td>
            @foreach (var item in Model)
            {
                <td>
                    <label>@item.SurveyYear.ToShortDateString()</label>
                </td>
            }
        </tr>
        <tr>
            <td>
                Current full-time employment
            </td>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ftEmplyees)
                </td>
            }
        </tr>
        <tr>
            <td>
                Current part-time employment
            </td>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ptEmployees)
                </td>
            }
        </tr>
        <tr>
            <td>
                Current total monthly salaries and wages
            </td>
            @foreach (var item in Model)
            {
                <td>
                    @string.Format("{0:C}", item.gross)
                </td>
            }
        </tr>
        <tr>
            <td>
                Gross revenues from most recent full year
            </td>
            @foreach (var item in Model)
            {
                <td>
                    @string.Format("{0:C}", item.revenue)
                </td>
            }
        </tr>
        <tr>
            <td>
                Total dept capital raised in most recent full year
            </td>
            @foreach (var item in Model)
            {
                <td>
                    @string.Format("{0:C}", item.DebtAmount)
                </td>
            }
        </tr>
        <tr>
            <td>
                Total equity capital raised in most recent full year
            </td>
            @foreach (var item in Model)
            {
                <td>
                    @string.Format("{0:C}", item.EquityAmount)
                </td>
            }
        </tr>
        <tr>
            <td>
                Total grant funds raised in most recent full year
            </td>
            @foreach (var item in Model)
            {
                <td>
                    @string.Format("{0:C}", item.GrantAmout)
                </td>
            }
        </tr>

    </table>

</div>



<a id="dlink" style="display:none;"></a>

<input type="button" onclick="tableToExcel('report_table', 'name', 'myfile.xls')" value="Export to Excel">


<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name, filename) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }

            document.getElementById("dlink").href = uri + base64(format(template, ctx));
            document.getElementById("dlink").download = filename;
            document.getElementById("dlink").click();

        }
    })()
</script>
