﻿@model CompanyInformationTracker.Models.SurveyData

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:auto;">
    <h3 style="float:left;">Survey Data</h3>
    @if (Request.IsAuthenticated)
    {
        <a class="btn btn-primary company-add-btn" href="@Url.Action("SurveyList", "SurveyData", new { memberId = Model.MEMBER_ID })">Back to Survey List</a>
    }
</div>
<hr style="clear:both;" />

@using (Ajax.BeginForm("Edit", "SurveyData", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "UpdateResult",
    OnSuccess = "SurveyUpdateSuccess",
    OnFailure = "SurveyUpdateFailure"
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal grant-debt-equity">
        <h4>Fill up or edit the following required feilds for survey data</h4>
        <div class="survey-border-basic">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.IsBaseData)

            <div class="form-group">
                @Html.LabelFor(model => model.SurveyDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SurveyDate, new { htmlAttributes = new { @class = "form-control", /*@readonly = "readonly",*/ @placeholder = "Use dd/mm/yyyy format for date" } })
                    @Html.ValidationMessageFor(model => model.SurveyDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FullTimeEmployees, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullTimeEmployees, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullTimeEmployees, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PartTimeEmployees, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PartTimeEmployees, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PartTimeEmployees, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GrossMonthlySalary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group" style="padding-left:15px;">
                    <span class="input-group-addon">$</span>
                    @Html.EditorFor(model => model.GrossMonthlySalary, new { htmlAttributes = new { @class = "form-control", @placeholder = "price", style="width:248px;" } })
                    @Html.ValidationMessageFor(model => model.GrossMonthlySalary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GrossRevenue, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group" style="padding-left:15px;">
                    <span class="input-group-addon">$</span>
                    @Html.EditorFor(model => model.GrossRevenue, new { htmlAttributes = new { @class = "form-control", @placeholder = "price", style = "width:248px;" } })
                    @Html.ValidationMessageFor(model => model.GrossRevenue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UngoMerge, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 input-group" style="padding-left:35px;">
                    <div class="input-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.UngoMerge) <span style="font-size:small; padding:0; margin:0;">(Only for gradudates)</span>
                            @Html.ValidationMessageFor(model => model.UngoMerge, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.MEMBER_ID, "Member Id")

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

            <div id="UpdateResult" style="display: none; text-align:center; color:red;">

            </div>
        </div>

        @{Html.RenderAction("Grant", "SurveyData", new { surveyId = Model.Id });}
        @{Html.RenderAction("Debt", "SurveyData", new { surveyId = Model.Id });}
        @{Html.RenderAction("Equity", "SurveyData", new { surveyId = Model.Id });}
        

    </div>

    <!--To enable date picker, uncomment the following block of jquery code-->
    <!--
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
        });
    </script>
    -->
    <script type='text/javascript'>
        function SurveyUpdateSuccess(result) {
            var x = document.getElementById('UpdateResult');
            x.style.display = 'block';
        }

        $(document).ready(function () {
            $(function () {
                $('input[type=datetime]').datetimepicker();
            });
        });

    </script>

}


