﻿
@{
    ViewBag.Title = "Survey Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="MyMemberId" value="@ViewBag.MemberId" hidden="hidden" />

<div class="surveyDatatablecontainer">
    <div style="height:auto;">
        <div style="float:left;"> <h3>Survey Data</h3></div>
        <div style="float:right;"><a style="margin-left:15px;" href="@Url.Action("Details", "Members", new { id = @ViewBag.MemberId })" class="btn btn-primary company-add-btn">Return to Member</a></div>
        <div style="float:right;">
            @using (Ajax.BeginForm("SendInvitation", "SurveyData", new { memberId = @ViewBag.MemberId }, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "LinkSent",
                OnSuccess = "ReloadSurveyData"

            }))
            {
                <input type="submit" value="Send New Survey Invitation" class="btn btn-primary company-add-btn" />
            }
        </div>
        

    </div>
    <div id="LinkSent" style="color:red; clear:both;">

    </div>
    <hr style="clear:both;" />


    <div>

        <table id="surveyDataDatatable">
            <thead>
                <tr>
                    <th>Survey Date</th>
                    <th>Send Edit Invitation</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>
    </div>

    <style type="text/css">
        #surveyDataDatatable {
            margin: 0;
            border: 0;
            width: 100%;
            font-size: 14px;
            text-align: left;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }
    </style>

    <script>
        $(document).ready(function () {
            var surveyDataTable = $('#surveyDataDatatable').DataTable({
                "ajax": {
                    "url": '/SurveyData/GetSurveyData',
                    "type": "get",
                    "data": {
                        memberId: $('#MyMemberId').val() //Member Id
                    },
                    "datatype" : "json"
                },
                "paging": true,
                "ordering": false,
                "info": false,
                "searching": true,
                "columns": [
                    { "data": "SurveyDate", "width": "auto" },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/SurveyData/SendInvitation?memberId=' + $('#MyMemberId').val() + '&surveyId=' + data + '"><i class="fa fa-external-link" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a href="/SurveyData/Details/' + data + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            })

            $('.surveyDatatablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow box-shadow-popup shadow-popup" style="overflow-y: true; overflow-x: hidden; font-size:small;font-family:\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              closeOnEscape: true,
                              //title: 'Popup Dialog',
                              //height: 200,
                              //width: 450,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })


                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                surveyDataTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })

        function ReloadSurveyData() {
            //$('#surveyDataDatatable').dataTable().reload();
            var ref = $('#surveyDataDatatable').DataTable();
            ref.ajax.reload();
            //surveyDataTable.ajax.reload();
        }
    </script>
</div>
