﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

/*html{
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    */
.box-shadow {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.box-shadow-popup {
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);  
}

.dropshadow {
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
}

.company-add-btn {
    margin-bottom: 20px;
    margin-top: 20px;
    float: right;
}

.form-horizontal .control-label{
    padding-top:0px;
}

.col-md-2{
    width:30%; 
    padding-top:0px;
}

.col-md-10{
    width:65%;
}

.col-md-offset-2{
    margin-left:30%;
}


.col-md-8{
    width:100%;
}

.text-danger {
    font-size:medium;
}


.company-checkbox{
     margin-left:0px;
}