﻿.main-contact {
    width: 100%;
}

.main-contact h2{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.16);
    padding-top:5px;
    padding-bottom:5px;
    background-color:azure;
}

.contact-row{
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
}
.contact-col{
    margin:10px;
    flex:1;
}

.center-align{
    text-align:center;
}

.staff-block{
    font-size:small;
}

.iconDetails {
    margin-left: 2%;
    float: left;
    margin-right:20px;
}

.staff-container {
    width: 100%;
    height: auto;
    padding: 1%;
}

.staff-container h4 {
    margin: 0px;
}

.staff-container a {
    text-decoration:none;
}