﻿.mynavbar{
    background-color:blue;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    
}

.navbar-inverse{
    background-color: #003269;
    border-color: gray;
    border: 0px solid;
    padding-left:20px;
    padding-right:30px;
    font-size: large;
    font-family:arial, helvetica, sans-serif;
}



.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: large;
}

.navbar-nav {
    float: right;
    margin: 0;
    font-size: large;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: large;
}

.large{
    font-size: large
}