﻿/*.click-nav ul {position:relative;font-weight:900;}
.click-nav ul li {position:relative;list-style:none;cursor:pointer;}
.click-nav ul li ul {position:absolute;left:0;right:0;}
.click-nav ul .clicker {position:relative;background:#2284B5;color:#FFF;}
.click-nav ul .clicker:hover,.click-nav ul .active {background:#196F9A;}
.click-nav img {position:absolute;top:9px;left:12px;}
.click-nav ul li a {transition:background-color 0.2s ease-in-out;-webkit-transition:background-color 0.2s ease-in-out;
-moz-transition:background-color 0.2s ease-in-out;display:block;padding:8px 10px 8px 40px;background:#FFF;color:#333;text-decoration:none;}
.click-nav ul li a:hover {background:#F2F2F2;}


.click-nav .no-js ul {display:none;}
.click-nav .no-js:hover ul {display:block;}

*/


.click-nav ul li ul{
    position: absolute;
    /*left: -125px;*/
    right: 0;
    width:260px;
    background-color: white;
    line-height:30px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}


.click-nav ul li ul li:hover {
    background:#F2F2F2;
}
.click-nav ul li ul li a {
    text-decoration:none;
    color:black;
    font-size:large;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.click-nav ul li ul li {
    padding-left: 15px;
    
}
.click-nav ul li ul li ul li {
    padding-left: 0px;
}

.click-nav .no-js ul {
    display: none;
}

.click-nav .no-js:hover ul {
    display: block;
}

.nav .nav-divider {
    margin: 0;
}

.myhr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px outset #eee;
}


ul {
    list-style: none;
}

.myglympicon{
    top:5px;
    float:right;
    right:10px;
}

.menu_glymp {
    font-size: medium;
    top: 3px;
    margin-right: 5px;
}




/*For views*/
.shadow-popup {

  background: #FFF;
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.ui-dialog{
    z-index:2000;
}

.ui-dialog-title {
    display:none;
    
}

.ui-dialog-titlebar {
    background:transparent;
    border:none;
}

.ui-dialog .ui-dialog-titlebar{
    padding:0;
}

.ui-dialog .ui-dialog-titlebar-close {
    right:0;
    top:10px;
    z-index:3000;
}

.ui-widget.ui-widget-content {
    border-radius: 5px;
}
