﻿.grant-debt-equity{
    width:80%;
    margin:20px auto;
}

.gdebox{
    padding-left:20px;
}

/*
.gdebox .dataTables_wrapper table thead{
    display:none;
}*/

.survey-border-basic{
    padding-top:20px;
    padding-left:20px;
    padding-bottom:10px;
    margin:0;
    border:0;
    border:1px solid #C0C0C0;
    margin-bottom:30px;
}

.survey-border-other{
    padding-top:0px;
    padding-bottom:10px;
    padding-right:20px;
    margin:0;
    border:0;
    border:1px solid #C0C0C0;
    margin-bottom:30px;
}