﻿
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tablecontainer">
    <div>
        <h2 style="float:left;">Events</h2>
        <a class="btn btn-primary company-add-btn" href="/Event/Create">Add New Event</a>
    </div>

    <div>
        <table id="myDatatable" style="margin:0;">
            <thead>
                <tr>
                    <th>Event Title</th>
                    <th>Event Type</th>
                    <th>Location</th>
                    <th>Event Date</th>
                    <th>Event Duration</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '/Event/GetEvents',
                    "type" : "get",
                    "datatype" : "json"
                },
                "columns": [
                    { "data": "EventTitle", "width": "auto" },
                    { "data": "EventType", "width": "auto" },
                    { "data": "Location", "width": "auto" },
                    {
                        "data": "EventDate", "width": "auto", "render": function (data) {
                            return new Date(parseInt(data.replace('/Date(', ''))).toDateString();
                        }
                    },
                    { "data": "EventDuration", "width": "auto" },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a href="/Event/Edit/' + data + '">Edit</a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a  class="popup" href="/Event/Delete/' + data + '">Delete</a>';
                        }
                    }
                ]
            })

        })
    </script>
</div>

