﻿@model CompanyInformationTracker.Models.Referrer

@{
    ViewBag.Title = "Delete Referrer";
}

<h2>Delete!</h2>

<h4>Are you sure you want to delete this?</h4>
@using (Html.BeginForm("DeleteReferrer", "Settings", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.Id)
    <div class="form-group">
        <label>Referrer Name: </label> @Model.SourceName
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}