﻿@{
    ViewBag.Title = "Contact";
}

<div class="main-contact">
    <h2 class="center-align">Come Visit Us</h2>
    <div class="contact-row">
        <div class="contact-col center-align">
            <p class="dropshadow"><strong><span style="font-size: 120%;">ETSU Innovation Laboratory&nbsp;</span></strong></p>
            <p><strong><span style="font-size: 120%;">&nbsp;</span></strong></p>
            <p><strong style="font-size: 90%;"><i class="fa fa-map-marker" aria-hidden="true"></i> 2109 West Market Street, Johnson City, TN 37604</strong></p>
            <p><strong><a class="email_link" href="mailto:Innovation_Lab@etsu.edu?Subject="><i class="fa fa-envelope" aria-hidden="true"></i> Innovation_Lab@etsu.edu</a></strong></p>
            <p><strong><i class="fa fa-fax" aria-hidden="true"></i> Fax: 423-979-8014</strong></p>
        </div>
        <div class="contact-col">
            <img src="~/Images/ilab-entrance.jpg" alt="Entrance" width="400" height="265">
        </div>
    </div>
    <p style="color:#346aa7; font-size:110%; font-family:'Monotype Corsiva'; text-align:center;"><span>The Innovation Lab is located next to Chick-Fil-A on West Market Street, across from the Boys &amp; Girls Club.</span></p>
    <hr />
    <h2 class="center-align">Staff</h2>
    <div class="contact-row staff-block">
        <div class="contact-col staff-container">

            <div>
                <img src="~/Images/audrey_depelteau.jpg" alt="Dr. Audrey Depelteau" class='iconDetails'>
            </div>
            <div style='margin-left:60px;'>
                <h4>Dr. Audrey Depelteau</h4>
                <div>Director, Innovation Lab</div>
                <br />
                <h4>Contact</h4>
                <div>Room 103, Innovation Lab</div>
                <div><a href="tel:423-439-8535"><i class="fa fa-phone-square" aria-hidden="true"></i> 423-439-8535</a></div>
                <div><a href="mailto:depelteau@etsu.edu?Subject="><i class="fa fa-envelope" aria-hidden="true"></i> depelteau@etsu.edu</a></div>
                <br />
                <div><a href="#">More about Dr. Audrey Depelteau</a></div>
            </div>
        </div>
        <div class="contact-col staff-container">
            <div>
                <img src="~/Images/liz_lewis.jpg" alt="Liz Lewis" class='iconDetails'>
            </div>
            <div style='margin-left:60px;'>
                <h4>Liz Bennett</h4>
                <div>Assistant Director, Innovation Lab</div>
                <br />
                <h4>Contact</h4>
                <div>Room 103, Innovation Lab</div>
                <div><a href="tel:423-439-8500"><i class="fa fa-phone-square" aria-hidden="true"></i> 423-439-8500</a></div>
                <div><a href="mailto:lewisea@etsu.edu?Subject="><i class="fa fa-envelope" aria-hidden="true"></i> lewisea@etsu.edu</a></div>
                <br />
                <div><a href="https://www.linkedin.com/in/japanliz">More about Liz Bennett</a></div>
            </div>
            
        </div>
    </div>
</div>
