﻿@{
    ViewBag.Title = "Home Page";
}

<h2 class="center-align">Welcome to the ETSU Innovation Lab</h2>
<h5 class="center-align">(Please login for administrative tasks!)</h5>

<div id="SlideshowImages">
    <div> <img src="~/Images/Slider/1.png" height="340" width="760"> </div>
    <div> <img src="~/Images/Slider/2.jpg" height="340" width="760"> </div>
    <div> <img src="~/Images/Slider/3.jpg" height="340" width="760"> </div>
    <div> <img src="~/Images/Slider/4.jpg" height="340" width="760"> </div>
    <div> <img src="~/Images/Slider/5.jpg" height="340" width="760"> </div>
    <div> <img src="~/Images/Slider/6.png" height="340" width="760"> </div>
</div>  

<div class="basic-info-div">
    <h3><strong>Vision<br /></strong>Transforming the future through innovation.</h3>
    <h3>Mission:</h3>
    <p>The ETSU Innovation Lab is a high-tech business incubator that assists aspiring entrepreneurs develop emerging technologies from concept through commercialization. With a focus on identifying and generating solutions to global problems, we are committed to championing entrepreneurs and building a cooperative entrepreneurial hub and network that is a catalyst for sustainable economic growth. Our worldwide scope and International Soft Landings Designation allow us to serve as a nexus between entrepreneurs, educational institutions, economic development councils and the international business community by offering physical and virtual business support to growing companies.</p>
    <p>Our mission serves as the overarching framework that determines the direction, partnerships, decisions, and choices that we make on a daily basis. Being a university-based high-tech business incubator, the Innovation Lab’s mission aligns with, evolves with and supports ETSU’s Vision, Values and Mission; as such, we appreciate our unique role at the University and strive to represent the values of ETSU in the community-at-large. </p>
</div>

<style type="text/css" style="display: none !important;">
    #SlideshowImages {
        margin: 0 auto;
        width:100%;
        height:360px;
        width:780px;
        position: relative;
        padding: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

        #SlideshowImages > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }

        .basic-info-div {
        margin: 0 auto;
        width:100%;
        position: relative;
        padding: 30px;
    }
</style> 

<script type="text/javascript">

    $(document).ready(function()
    {
        $("#slideshow > div:gt(0)").hide();
        setInterval(function()
        {
            $('#SlideshowImages > div:first').fadeOut(1000).next().fadeIn(1000).end().appendTo('#SlideshowImages');
        }, 3000);
    });
</script>  