﻿@model CompanyInformationTracker.Models.MemberStatus

@{
    ViewBag.Title = "Delete Status";
}

<h2>Delete!</h2>

<h4>Are you sure you want to delete this?</h4>
@using (Html.BeginForm("DeleteStatus", "Settings", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.Id)
    <div class="form-group">
        <label>Status Name: </label> @Model.StatusName
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}