﻿@model CompanyInformationTracker.Models.Attendee

@{
    Layout = null;
}


<h5>Are you sure you want to delete this?</h5>
<div>
    <strong>@Html.DisplayNameFor(model => model.Name): </strong>@Html.DisplayFor(model => model.Name)
    <br />
    <strong>@Html.DisplayNameFor(model => model.Email): </strong>@Html.DisplayFor(model => model.Email)
    <br />
    <br />

    @using (Html.BeginForm("DeleteAttendee", "Events", FormMethod.Post, new { id = "popupForm1" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>