﻿@model CompanyInformationTracker.Models.Employee

@{
    Layout = null;
}

<h4>Are you sure you want to delete this?</h4>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrimary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrimary)
        </dd>

    </dl>

@using (Html.BeginForm("DeleteEmployee", "Members", FormMethod.Post, new { id = "popupForm" }))
{
        @Html.AntiForgeryToken()

        <div class='form-row'>
            <div class='form-group'>
                <label class='control-label'></label>
                <button class='form-control btn btn-primary' type='submit'>Delete Employee</button>
            </div>
        </div>
}
</div>

