﻿@model CompanyInformationTracker.Models.Employee

@{
    Layout = null;
}

@using (Html.BeginForm("EditEmployee", "Members", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="padding:20px;">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)

        <fieldset>
            <legend>New Contact Details</legend>

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        @{
                            var titles = new List<SelectListItem>()
                                    {
                                        new SelectListItem() { Text = "Mr", Value = "Mr" },
                                        new SelectListItem() { Text = "Mrs.", Value = "Mrs" },
                                        new SelectListItem() { Text = "Miss", Value = "Miss" },
                                        new SelectListItem() { Text = "Ms", Value = "Ms" },
                                        new SelectListItem() { Text = "Sir", Value = "Sir" },
                                        new SelectListItem() { Text = "Madam", Value = "Madam" },
                                        new SelectListItem() { Text = "Dr", Value = "Dr" },
                                    };
                        }

                        @Html.DropDownListFor(model => model.Title, new SelectList(titles, "Text", "Value"), "-- Please select title --", new { @class = "form-control", style = "max-width:inherit;" })
                        <br />
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        <br />
                    </div>
                </div>
            </div>
            <br />
            <br />

            <div class="form-group">
                <div class="col-sm-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </div>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name", style = "max-width:inherit" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>

                <div class="col-sm-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </div>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name", style = "max-width:inherit" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email", style = "max-width:inherit" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />
            <br />

            <div class="form-group">
                <div class="col-sm-6">
                    <div class="input-group">
                        @{
                            var phoneTypeList = new List<SelectListItem>()
                                    {
                                        new SelectListItem() { Text = "Home", Value = "Home" },
                                        new SelectListItem() { Text = "Work", Value = "Work" },
                                        new SelectListItem() { Text = "Office", Value = "Office" },
                                        new SelectListItem() { Text = "Fax", Value = "Fax" },
                                        new SelectListItem() { Text = "Cell", Value = "Cell" },
                                        new SelectListItem() { Text = "Other", Value = "Other" },
                                    };
                        }

                        @Html.DropDownListFor(model => model.PhoneType, new SelectList(phoneTypeList, "Text", "Value"), "-- Phone type --", new { @class = "form-control", style = "max-width:inherit;" })
                        <br />
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Phone", style = "max-width:inherit" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-12">
                    <br />
                    @Html.LabelFor(model => model.IsPrimary, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="input-group">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsPrimary)
                            @Html.ValidationMessageFor(model => model.IsPrimary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.MEMBER_ID)

        </fieldset>

    </div>
    <div class='form-row'>
        <div class='form-group'>
            <label class='control-label'></label>
            <button class='form-control btn btn-primary' type='submit'>Edit Employee</button>
        </div>
    </div>
}