﻿@model CompanyInformationTracker.Models.Grant

@{
    Layout = null;
}

<h2>Delete!</h2>

<h4>Are you sure you want to delete this?</h4>
@using (Html.BeginForm("DeleteGrant", "SurveyData", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
}