﻿<div class="granttablecontainer">
    <h4>All the grants</h4>
    <div class="survey-border-other">
        <input id="MySurveyId" value="@ViewBag.MySurveyId" hidden="hidden" />

        <div class="gdebox">
            <table id="GrantDatatable" style="width:100%;">
                <thead>
                    <tr>
                        <th>Source</th>
                        <th>Amount</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <hr style="margin:0; border:0; margin-bottom:10px;" />
            <a class="popup btn btn-primary" href='@Url.Action("NewGrant", "SurveyData", new { surveyId = ViewBag.MySurveyId })'>New Grant</a>
        </div>
    </div>

    <style type="text/css">
        #GrantDatatable {
            margin: 0;
            border: 0;
            text-align: left;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }
    </style>
    

    <script>
        $(document).ready(function () {
            var oTable = $('#GrantDatatable').DataTable({
                "ajax": {
                    "url": '/SurveyData/GetGrants',
                    "type": "get",
                    "data": {
                        surveyId: $('#MySurveyId').val() //Survey Id
                    },
                    "datatype" : "json"
                },
                "paging":   false,
                "ordering": false,
                "info": false,
                "searching": false,
                "columns": [
                    { "data": "Source", "width": "auto" },
                    { "data": "Amount", "width": "auto", render: $.fn.dataTable.render.number( ',', '.', 0, '$' ) },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/SurveyData/EditGrant/' + data + '"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/SurveyData/DeleteGrant/' + data + '"><i class="fa fa-times" aria-hidden="true"></i></a>';
                        }
                    }
                ]
            })

            $('.granttablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow box-shadow-popup shadow-popup" style="overflow:hidden;font-size:large;font-family:\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              closeOnEscape: true,
                              //title: 'Popup Dialog',
                              height: 270,
                              width: 450,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })
                

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })
    </script>
</div>

