﻿
@{
    ViewBag.Title = "Internal Member Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tablecontainer">

    <div style="height:auto;">
        <h3 style="float:left;">All the internal member types</h3>
        <a class="popup btn btn-primary company-add-btn" href="CreateInternalType">Create New Type</a>
    </div>
    <hr style="clear:both;" />
    
    <div>
        <table id="internalTypeDatatable" style="width: 100%;">
            <thead>
                <tr>
                    <th>Type Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <style type="text/css">
        #internalTypeDatatable {
            margin: 0;
            border: 0;
            width: 100%;
            text-align: left;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 5px 10px;
            border-bottom: 1px solid #C0C0C0;
        }
    </style>

    <script>
        $(document).ready(function () {
            var oTable = $('#internalTypeDatatable').DataTable({
                "ajax": {
                    "url": '/Settings/GetInternalTypes',
                    "type" : "get",
                    "datatype" : "json"
                },
                "paging": true,
                "ordering": false,
                "info": false,
                "searching": true,
                "columns": [
                    { "data": "TypeName", "width": "auto" },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Settings/EditInternalType/' + data + '">Edit</a>';
                        }
                    },
                    {
                        "data": "Id", "width": "auto", "render": function (data) {
                            return '<a class="popup" href="/Settings/DeleteInternalType/' + data + '">Delete</a>';
                        }
                    }
                ]
            })

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow box-shadow-popup shadow-popup" style="overflow:hidden;font-size:large;font-family:\'Segoe UI\', Tahoma, Geneva, Verdana, sans-serif;"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              closeOnEscape: true,
                              //title: 'Popup Dialog',
                              height: 250,
                              width: 450,
                              show: { effect: 'fade', duration: 250 },
                              hide: { effect: 'fade', duration: 500 },
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })
                //(".ui-widget-overlay").attr('style', 'background-color: #000; opacity:1; z-index:1000;');
                $dialog.dialog({
                    open: function (event, ui) {
                        $('body').bind('click', function () {
                            //var dialogClass = $(".selector").dialog("option", "dialogClass");
                            
                            
                            //console.log(dialogClass.hasClass('body-click-disable'));
                            //$dialog.dialog('close');
                            //$dialog.dialog("option", "dialogClass", "body-click-disable");
                        });
                    }
                });
                

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })

                //$dialog.dialog("option", "dialogClass", "body-click-disable");
                $dialog.dialog('open');
            }

            
        })
    </script>
</div>

